<div>
<table class="conference-schedule">
    <tbody><tr class="odd">
        <td class="conference-date-section">
            <b>Event Date/Time: </b>Feb 12, 2017 / 8:00 am - (GMT +3:30 hours)</td>
        <td>
            <b>End Date/Time: </b>Feb 13, 2017 / 5:30 pm - (GMT +3:30 hours)
        </td>
    </tr>
    <tr>
        <td>
            <b>Registration Date:</b>
            Feb 01, 2017		</td>
        <td>
            <b>Time:</b>
            18:00:00(GMT +3:30 hours)					</td>
    </tr>
    <tr class="odd">
        <td>
            <b>Early Registration Date:</b>
            Feb 01, 2017		</td>
        <td>
            <b>Time:</b>
            18:00:00(GMT +3:30 hours)					</td>
    </tr>
    <tr>
        <td>
            <b>Paper Submission Date:</b>
            Aug 31, 2016		</td>
        <td>
            <b>Time:</b>
            19:00:00(GMT +3:30 hours)					</td>
    </tr>
    </tbody>
</table>
</div>