<div class="conference_venue floatLeft">
    <div class="info_field">
        <label>
            Name:
        </label>
        <span class="venue_info">
                        <a href="http://www.allconferences.com/search/index/Venue__name:Razi+Hall">Razi Hall</a>
                    </span>
    </div>
    <div class="info_field">
        <label>
            Address				:
        </label>
        <span class="venue_info">Hemmat Highway, Tehran, Iran</span>
    </div>
    <div class="info_field">
        <label>
            City:
        </label>
        <span class="venue_info">
				<a href="http://www.allconferences.com/search/index/Venue__country:Iran (Islamic Republic of)/Venue__state:Tehran/Venue__city:Tehran">Tehran</a>
			</span>
    </div>
    <div class="info_field">
        <label>
            State				:
        </label>
        <span class="venue_info">
				<a href="http://www.allconferences.com/search/index/Venue__country:Iran (Islamic Republic of)/Venue__state:Tehran">Tehran</a>
			</span>
    </div>
    <div class="info_field">
        <label>
            Country				:
        </label>
        <span class="venue_info">
				<a href="http://www.allconferences.com/search/index/Venue__country:Iran (Islamic Republic of)">Iran (Islamic Republic of)</a>
			</span>
    </div>
    <a href="http://www.allconferences.com/venues/details/818291-Razi-Hall-Tehran-Iran-Islamic-Republic-of" class="red-button">MORE INFO ON THIS VENUE</a>
</div>